@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <label><strong>Usuario: </strong></label>
        <input type="text" id="userInput" />
        <br />
        <label><strong>Mensaje: </strong></label>
        <input type="text" id="messageInput" />
        <br />
        <input type="button" id="sendButton" value="Enviar"/>
    </div>

    <div class="row">
        <ul id="chat">
        </ul>
    </div>
</div>
